.head {
    height: 300px;
}
.social{
    width: 30px;
    float: right;
    margin: 20px 5px;
    
}
#login{
    float: right;
    margin: 20px 5px;
}
div{
    background-color: cornflowerblue;
  
}

